<!DOCTYPE hyml>
<html>
    
    <head>
        <meta charset="utf-8" />
        <title> fananf - read a subtitles file  </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <%- include('partials/headerConnected') %>
        <main>
            <div class="blockPres">
                <h1>Edition d'un fichier de sous-titres : </h1>
                <p>Format : </p><p class="format"><%=sub.format%></p>
                <p>Les changement sont sauvegardés de manière automatique toutes les 5 minutes.</p>
                <button id="btnExport"  onclick="exportFile()"> Exporter </button>   
            </div>
            <div class="videoContainer">
                <video controls="controls" src="<%=sub.urlSousTitres%>">
                    Vidéo à afficher pour l a lecture de sous titres
                </video>
            </div>
            <form>
                <% subtitles.forEach(function(subR,index){%>
                    <div class="subtitle">
                        <% if (sub.format != "vtt") { %>
                            <input type="text" class="content" required value="<%= subR.subIndex%>"/>
                        <% } %>
                        <textarea class="content" rows="1" cols="40"><%= subR.subTimeCode%></textarea> 
                        <textarea class="content" rows="1" cols="37" ><%= subR.sub1%></textarea>
                        <textarea class="content" rows="1" cols="37" ><%= subR.sub2%></textarea>
                    </div> </br>
                <% }) %>
            </form>

            <button id="btnSave" onclick="sendContent()">Sauvegarder les changements</button>
           <script>
                setInterval(function(){alert("coucou")},10000);
                function sendContent(){

                    // getting content
                    var subContent = $(".subtitle > .content");
                    var subString = [];
                    var subFormat = $(".format").text();
                    if ( subFormat == "vtt"){
                        subString.push("WEBVTT");
                        subString.push("");
                    }

                    //formating subtitle before send it to server
                    subContent.each(function(index,elem){
                        subString.push(jQuery(this).val())
                        if (subFormat == "srt") {
                            if (index%4 == 3){
                                subString.push("");
                            }
                        } else if (subFormat == "vtt") {
                            if (index%3 == 2){
                                subString.push("");
                            }
                        }
                        
                    })
                    //sending subtitles to server
                    $.ajax({
                        type: 'POST',
                        //last part is the subtitle id
                        url: "http://vmfananf:3000/subtitle/edit/save/"+ document.location.href.substr(document.location.href.lastIndexOf('/') + 1),
                        data: {subContent: subString},
                        //dataType: 'jsonp' - removed
                        //jsonpCallback: 'callback' - removed
                        success: function (data) {
                            var ret = jQuery.parseJSON(data);
                            console.log(ret.status);
                            alert(ret.message);
                        },
                        error: function(xhr,textStatus,err)
                        {
                            console.log("readyState: " + xhr.readyState);
                            console.log("responseText: "+ xhr.responseText);
                            console.log("status: " + xhr.status);
                            console.log("text status: " + textStatus);
                            console.log("error: " + err);
                        }
                    });
                }

                function exportFile(){
                    var url = "http://vmfananf:3000/subtitle/export/" + document.location.href.substr(document.location.href.lastIndexOf('/') + 1);
                    window.open(url,'_blank');
                }
            </script>
        </main>
    </body>
    <%- include('partials/footer') %>
</html>
