<!DOCTYPE hyml>
<html>
    
    <head>
        <meta charset="utf-8" />
        <title> fananf - read a subtitles file  </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <%- include('partials/headerConnected') %>
        <main>
                <div class="blockPres">
                        <h1>Edition d'un fichier de sous-titres : </h1>
                        <form method="GET" action="/subtitle/export/:id">
                            <input type="button" value="Exporter">
                        </form>
                        <p class="format"><%=sub.format%></p>
                        <p class="id"><%=sub._id%></p>
                </div>
            <form method="POST" action="/subtitle/editing"></form>
                <% subtitles.forEach(function(sub,index){%>
                    <div class="subtitle">
                        <p class="content" ><%= sub.subIndex%></p>
                        <textarea class="content" rows="1"><%= sub.subTimeCode%></textarea> 
                        <textarea class="content" rows="1" cols="37" ><%= sub.sub1%></textarea>
                        <textarea class="content" rows="1" cols="37" ><%= sub.sub2%></textarea>
                    </div> </br>
                <% }) %>
                <input type="submit" value="Valider les changements"/>
        
            </form>
            <button id="btnTest" class="boutonDeTest" name="testBoutonRouge" onclick="sendContent()">Envoyer les données au serveur</button>
           <script>
                function sendContent(){
			console.log(document.location.href);
                    var subContent = $(".subtitle > .content");
                    var subString = [];
                    var subFormat = $('.format').val();
                    console.log("Format : " + subFormat)
                    if ( subFormat == "vtt"){
                        subString += "WEBVTT \n\n";
                    }

                    subContent.each(function(index,elem){
                        subString.push(jQuery(this).val())
                        if (index%4 == 3){
                            subString.push("");
                        }
                    })
                    $.ajax({
                        type: 'POST',
                        url: "http://vmfananf:3000/subtitle/edit/save/"+ document.location.href.substr(document.location.href.lastIndexOf('/') + 1),
                        data: {subContent: subString},
                        //dataType: 'jsonp' - removed
                        //jsonpCallback: 'callback' - removed
                        success: function (data) {
                            var ret = jQuery.parseJSON(data);
                            console.log(ret.message)
                        },
                        error: function(xhr,textStatus,err)
                        {
                            console.log("readyState: " + xhr.readyState);
                            console.log("responseText: "+ xhr.responseText);
                            console.log("status: " + xhr.status);
                            console.log("text status: " + textStatus);
                            console.log("error: " + err);
                        }
                    });
                }
            </script>
        </main>
    </body>
    <%- include('partials/footer') %>
</html>
