<!DOCTYPE hyml>
<html>
    
    <head>
        <meta charset="utf-8" />
        <title> fananf - read a subtitles file  </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <%- include('partials/headerConnected') %>
        <main>
                <div class="blockPres">
                        <h1>Edition d'un fichier de sous-titres : </h1>
                        <form method="GET" action="/subtitle/export/:id">
                            <input type="button" value="Exporter">
                        </form>
                </div>
            <form method="POST" action="/subtitle/editing"></form>
                <% subtitles.forEach(function(sub,index){%>
                    <p class="format"><%=sub.format%></p>
                    <div class="subtitle">
                        <textarea class="content" rows="1"><%= sub.subIndex%></textarea>
                        <textarea class="content" rows="1"><%= sub.subTimeCode%></textarea> 
                        <textarea class="content" rows="1" cols="37" ><%= sub.sub1%></textarea>
                        <textarea class="content" rows="1" cols="37" ><%= sub.sub2%></textarea>
                    </div> </br>
                <% }) %>
                <input type="submit" value="Valider les changements"/>
        
            </form>
            <button id="btnTest" class="boutonDeTest" name="testBoutonRouge" onclick="test()">test jquery</button>
           <script>
                function test(){
                    $("div.subtitle").css('background','yellow');
                    $(".index").css('background','yellow');
                    $(".timecode").css('background','red');
                    $(".content").css('background','gray');
                    var subContent = $(".subtitle > .content");
                    console.log("longueur : " + subContent.length);
                    console.log("val : " + subContent.val());
                    var subString = ""
                    if ( $('.format').val() == "webvtt"){
                        subString += "WEBVTT \n\n";
                    }
                    subContent.each(){
                        subString += jQuerry(this).val + "\n";
                    }
                    console.log(subString);
                }
            </script>
        </main>
    </body>
    <%- include('partials/footer') %>
</html>