<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - vos transcriptions </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>  
        <h1> Bonjour <%=prenom%> <%=nom%> !</h1>
        <h2>Voici les listes que vous avez faites : </h2>
        
        <p> <%
            if (lists.length>0) {
                for(var i=0; i<lists.length;i++) {
                    %>  <p><a href=/todo/list/<%=lists[i].idListe%> class="listName"><%=lists[i].nomListe%></a> <a href=/todo/removeList/<%=lists[i].idListe%>>  Supprimer </a> </p></br>
        
                    <% } 
            } else { %>
                <p>Aucune liste trouvée</p> <%
            } %>
            
        </p>
        <h2>Ajouter une liste</h2>
        <form method="POST" action="/todo/addList">
            <input type="text" name="listeAAjouter" required=""/>
            <input type="submit" value="valider"/>
        </form>
    </body>
</html>
