<!DOCTYPE hyml>
<html>
    <head>
        <meta charset="utf-8" />
        <title> fananf - <%=user.nom%> <%=user.prenom%> </title>
        <link rel="stylesheet" href="/style/general.css">
		<link rel="stylesheet" href="/style/menu.css">	
    </head>
    <body>
        <%- include('partials/headerConnected') %>
        <main>
            <h1> Vos infomations personelles : </h1>
            <tr>
                <td>
                    Nom
                </td>
                <td>
                    Prenom
                </td>
            </tr>
        </br>
                <tr>
                    <td>
                        <%= user.nom %>
                    </td>
                    <td>
                        <%= user.prenom %>
                    </td>
                </tr>
            </br>
            <% if(user._id == me._id) { %>
            <form method="POST" action="/user/me._id/delet">
                <input type="submit" value="Supprimer mon compte"/>
            </form>
            <form method="POST" action="/logout">
                <input typ="submit" value="Me deconnecter"/>
            </form>
            <% } %>
        </main>
    </body>
</html>
